/* Applique un fond gris clair à toute la page */
body {
    background-color: #e6e6e6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Conteneur principal */
.signup-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}


.logo-container img {
    width: 240px;  
    height: auto;  
    margin-bottom: 20px;
}



h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    align-self: flex-start;
    font-weight: bold;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.password-container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.password-container input {
    flex-grow: 1;
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
}


.signup-button {
    background-color: #d1d1d1;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}

.signup-button:hover {
    background-color: #bbb;
}