<footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/footer.css">

    <div class="footer-container">
      <div class="footer-links">
          <div>
              <ul>
                  <li><a href="#">Aide</a></li>
                  <li><a href="#">Livraison</a></li>
                  <li><a href="#">Retours</a></li>
                  <li><a href="#">Événements</a></li>
                  <li><a href="#">Questions</a></li>
                  <li><a href="#">Donnez vos retours</a></li>
              </ul>
          </div>
          <div>
              <ul>
                  <li><strong>Notre Entreprise</strong></li>
                  <li><a href="#">À Propos</a></li>
                  <li><a href="#">Ressources</a></li>
              </ul>
          </div>
      </div>


      <div class="footer-newsletter">
        <form>
            <input type="email" placeholder="Email address">
            <button type="submit"><span>Abonnez-vous</span></button>
        </form>
        <div class="social-icons">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
    </div>
    


</footer>



