<footer>
    <div class="footer-container">
      <div class="footer-links">
        <div>
          <ul>
            <li><a href="#">Aide</a></li>
            <li><a href="#">Livraison</a></li>
            <li><a href="#">Retours</a></li>
            <li><a href="#">Événements</a></li>
            <li><a href="#">Questions</a></li>
            <li><a href="#">Donnez vos retours</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><strong>Notre Entreprise</strong></li>
            <li><a href="#">À Propos</a></li>
            <li><a href="#">Ressources</a></li>
          </ul>
        </div>
        <div>
          <img src="/images/logolong.png" alt="213" class="logolong-img">
        </div>
      </div>

      <div class="footer-newsletter">
        <h3>Rejoignez la cité</h3>
        <p>Recevez des offres exclusives, les meilleurs mangas, et plus encore.</p>
        <form>
          <input type="email" placeholder="Email address">
          <button type="submit">Abonnez-vous</button>
        </form>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>© 2025 MangaThèque. Tous Droits Réservés.</p>
      <ul>
        <li><a href="#">Politique de Confidentialité</a></li>
        <li><a href="#">Préférences de Confidentialité</a></li>
        <li><a href="#">Termes et Conditions</a></li>
      </ul>
    </div>
  </footer>
  