<section class="manga-section">
    <div class="container">
        <div class="top-section">
            <!-- Image principale à gauche -->
            <div class="left-image">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/images/danslbon.png" class="d-block w-100" alt="Mangas en vedette">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/image2.webp" class="d-block w-100" alt="Mangas en vedette">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/image3.jpg" class="d-block w-100" alt="Mangas en vedette">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <!-- Texte à droite -->
            <div class="right-text">
                <p class="big-text">Trouvez le manga qui vous plaît</p>
                <p class="small-text">好きなマンガを見つけてください</p>

                <hr>

                <p class="big-text">Peu importe le genre</p>
                <p class="small-text">性別関係なく</p>

                <hr>

                <p class="big-text">Inscris-toi pour acheter</p>
                <p class="small-text">購入するために登録する</p>

            </div>
        </div>

        <!-- Section des mangas en bas -->

        <%- include('./tomes') %>
    </div>
    </div>
</section>