<div class="signup-container">
    <div class="signup-box">
        <!-- Logo -->
        <div class="logo-container">
            <a href="/">
                <img src="/images/logo.png" alt="MangaThèque" class="logo-img">
            </a>
        </div>
        <link rel="stylesheet" href="/css/inscription.css">
        <body class="connexion-page">


        <!-- Titre -->
        <h2>Ouvrez une session</h2>

        <!-- Lien de connexion -->
        <p>Première fois sur la MangaThèque ? <a href="/inscription">Inscrivez-vous maintenant.</a></p>

        <!-- Formulaire -->
        <form action="/connexion" method="POST">
            <label for="identifiant">Identifiant</label>
            <input type="text" id="identifiant" name="identifiant" required>

            <label for="password">Mot de passe</label>
            <div class="password-container">
                <input type="password" id="mot_de_passe" name="mot_de_passe" required>
                <span class="toggle-password">
                    <i class="fas fa-eye"></i>
                </span>
            </div>

            <!-- Bouton de validation -->
            <button type="submit" class="signup-button">Ouvrir une session</button>
        </form>
    </div>
</div>

<!-- Footer en dehors du conteneur pour qu'il se place en bas -->
<footer>
    <%- include('../partials/footer') %>
</footer>
