<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <%- include('../partials/head') %>
    <%- include('../partials/header') %>
    <title>Accueil</title>
</head>
<body>
    <!-- BANNIÈRE MODERNE -->
    <section class="banner">
        <img src="/images/mangauno.jpg" class="active" alt="Bannière 1">
        <img src="/images/mangatres.jpg" alt="Bannière 2">
        <img src="/images/mangaquatro.jpg" alt="Bannière 3">
    </section>

    <!-- SECTION MANGAS -->
    <h2 class="manga-section-title">Nos Mangas Populaires</h2>
    <section class="manga-section">
        <div class="container">
            <%- include('../partials/tomes') %>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const images = document.querySelectorAll('.banner img');
            let index = 0;
            setInterval(() => {
                images[index].classList.remove('active');
                index = (index + 1) % images.length;
                images[index].classList.add('active');
            }, 5000);
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>
