<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head') %>
    <title>Inscription</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/inscription.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="inscription-page">

    <div class="content-container">
        <div class="signup-container">
            <div class="signup-box">
                <!-- Logo -->
                <div class="logo-container">
                    <a href="/">
                    <img src="/images/newLogo.png" alt="MangaThèque" class="logo-img">
                    </a>
                </div>

                <!-- Titre -->
                <h2>Créez votre compte</h2>

                <!-- Lien de connexion -->
                <p>Vous avez déjà un compte ? <a href="/connexion">Ouvrez une session</a></p>

                <!-- Formulaire -->
                <form action="/inscription" method="POST" onsubmit="return validerFormulaire()">
                    <div class="input-field">
                        <input type="text" id="identifiant" name="identifiant" placeholder=" " required>
                        <label for="identifiant">Identifiant</label>
                    </div>

                    <div class="input-field">
                        <input type="text" id="prenom" name="prenom" placeholder=" " required>
                        <label for="prenom">Prénom</label>
                    </div>

                    <div class="input-field">
                        <input type="text" id="nom" name="nom" placeholder=" " required>
                        <label for="nom">Nom de famille</label>
                    </div>

                    <div class="input-field">
                        <input type="tel" id="telephone" name="telephone" placeholder=" " required>
                        <label for="telephone">Numéro de téléphone</label>
                    </div>

                    <div class="input-field">
                        <input type="email" id="email" name="email" placeholder=" " required>
                        <label for="email">Adresse de courriel</label>
                    </div>

                    <div class="input-field password-container">
                        <input type="password" id="mot_de_passe" name="mot_de_passe" placeholder=" " required>
                        <label for="mot_de_passe">Mot de passe</label>
                        <span class="toggle-password">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>

                    <div class="input-field password-container">
                        <input type="password" id="motDePasseConfirme" name="motDePasseConfirme" placeholder=" " required>
                        <label for="motDePasseConfirme">Confirmer le Mot de passe</label>
                        <span class="toggle-password">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>

                    <p id="erreur-message" style="color: red; display: none;"></p>

                    <!-- Bouton de validation -->
                    <button type="submit" class="signup-button">Créer un compte</button>
                </form>
            </div>
        </div>
        <% if (message) { %>
            <div>
                <%= message %>
            </div>
        <% } %>
    </div>

    <script src="/js/main.js" defer></script> 
</body>
</html>